
    <nav class="cabecalho">
        <div class="logo">
            <img src="../images/mao_e_ferramenta.png" alt="logo mao_e_ferramenta" width="60px" height="60px" class="image_logo">
            <p class="titulo1"> Serviços</p>
        </div>
    </nav>
    <main class="main">
            <div class="selection">
                <label for="opcoes">Selecione o Serviço</label>
                    <select name="opcao" id="opcao">
                        <option value="eletrica">Elétrica</option>
                        <option value="mecanica">Mecânica</option>
                        <option value="funilaria">Funilaria</option>
                    </select>
       
                <label for="coment"></label>
                <textarea name="coment" id="coment" rows="30" cols="30" placeholder=  "Oficinas cadastradas              vide banco de dados"></textarea>
            </div>
            <div class="map">
                    <img src="../images/navegation_map.jpg" alt="navegation_map" width="640" height="340">
            </div>
    </main>
    <footer>
        <div class="rodape">
            <div>
            <a href="#" class="foot_quem">Quem somos</a>
            </div>
            <div>
            <a href="#" class="foot_cont">Contato</a>
            </div>
            <div>
            <a href="#" class="foot_cad">Cadastre sua empresas</a>
            </div>
        </div>
    </footer>